@keyframes text_flicker {
  0% {
    text-shadow: 0.3501767587430763px -0.2049182726145914px 2px;
  }
  1% {
    text-shadow: -0.16757608596239038px 0.48255414472636926px 2px;
  }
  2% {
    text-shadow: 0.4509753089132619px 0.12111920820399202px 3px;
  }
  3% {
    text-shadow: -0.253720206587455px -0.220800360616077px 3px;
  }
  4% {
    text-shadow: -0.07662969700612488px -0.12641401337249825px 3px;
  }
  5% {
    text-shadow: 0.4456818474925385px 0.12250633031143698px 1px;
  }
  6% {
    text-shadow: 0.4295697065583802px 0.18768351518516002px 2px;
  }
  7% {
    text-shadow: -0.21313873055127253px -0.34665401978140287px 0px;
  }
  8% {
    text-shadow: 0.3919155650504359px -0.14213026047011912px 1px;
  }
  9% {
    text-shadow: 0.4511457619446003px 0.4097145769773999px 3px;
  }
  10% {
    text-shadow: -0.1093834126843869px 0.42735944457986097px 3px;
  }
  11% {
    text-shadow: -0.09770812515067329px 0.22014167046685518px 3px;
  }
  12% {
    text-shadow: 0.08559792335117355px -0.11587119242359956px 3px;
  }
  13% {
    text-shadow: -0.48905056796196344px -0.32551174957961326px 2px;
  }
  14% {
    text-shadow: -0.020314926132091626px -0.41426029213425697px 2px;
  }
  15% {
    text-shadow: 0.00983661307260797px -0.38829753674594936px 1px;
  }
  16% {
    text-shadow: 0.38121063832458124px 0.11185708025202235px 3px;
  }
  17% {
    text-shadow: 0.061587471252541603px 0.24220246372229648px 0px;
  }
  18% {
    text-shadow: 0.1424516815430883px -0.18843869907013377px 0px;
  }
  19% {
    text-shadow: 0.4663516742712355px 0.2902133811278117px 0px;
  }
  20% {
    text-shadow: -0.36017349648700114px -0.39311890844894815px 2px;
  }
  21% {
    text-shadow: -0.3393152337819858px -0.19167556202722902px 2px;
  }
  22% {
    text-shadow: -0.179325804406122px 0.09428557956314643px 2px;
  }
  23% {
    text-shadow: -0.39789679164531044px 0.22730395961683003px 1px;
  }
  24% {
    text-shadow: 0.3435953207451019px -0.2839566865934693px 1px;
  }
  25% {
    text-shadow: 0.2754934968911382px -0.2984335705941382px 2px;
  }
  26% {
    text-shadow: -0.01070750985176594px -0.356000822366233px 0px;
  }
  27% {
    text-shadow: -0.4337375317996255px 0.2605852381913202px 3px;
  }
  28% {
    text-shadow: 0.08156372458478844px -0.43548024634136306px 3px;
  }
  29% {
    text-shadow: 0.4925544015869413px 0.20873189909080925px 1px;
  }
  30% {
    text-shadow: -0.4785489771587491px -0.04156512016520353px 0px;
  }
  31% {
    text-shadow: -0.3428198550000625px -0.33145504971858475px 0px;
  }
  32% {
    text-shadow: -0.09857632749586132px -0.43762891830735495px 3px;
  }
  33% {
    text-shadow: 0.46752031464154975px 0.17741787031925926px 2px;
  }
  34% {
    text-shadow: -0.3667567387513687px -0.24814853728833508px 2px;
  }
  35% {
    text-shadow: -0.3238905230484581px 0.3536401628111102px 1px;
  }
  36% {
    text-shadow: -0.42248239967041346px 0.49417043729693444px 0px;
  }
  37% {
    text-shadow: 0.2005367116286284px -0.16990576269148672px 0px;
  }
  38% {
    text-shadow: 0.08742273794140809px 0.4857850293408271px 1px;
  }
  39% {
    text-shadow: -0.04528897447594982px -0.3403443751244637px 3px;
  }
  40% {
    text-shadow: -0.4916180683379625px -0.42790133174896083px 0px;
  }
  41% {
    text-shadow: 0.16062217820783642px 0.40658402965549345px 0px;
  }
  42% {
    text-shadow: 0.04158388501520072px 0.3037106466301319px 0px;
  }
  43% {
    text-shadow: -0.22756406235580195px 0.1258110112529931px 2px;
  }
  44% {
    text-shadow: -0.4822372102858179px -0.4480658875688206px 2px;
  }
  45% {
    text-shadow: -0.09795397899453195px -0.03567346644394942px 1px;
  }
  46% {
    text-shadow: 0.04400532215142583px 0.36868106789391797px 1px;
  }
  47% {
    text-shadow: 0.37583630993828576px 0.05824758081483172px 3px;
  }
  48% {
    text-shadow: 0.01899649710593143px 0.17954709709090433px 0px;
  }
  49% {
    text-shadow: -0.40487361665878296px 0.21076997862303282px 1px;
  }
  50% {
    text-shadow: -0.40005961706385373px 0.023941545175292234px 3px;
  }
  51% {
    text-shadow: -0.3521178027923285px -0.1103656124515584px 1px;
  }
  52% {
    text-shadow: 0.1707442654676744px 0.015299240243842438px 2px;
  }
  53% {
    text-shadow: -0.42162603082503725px 0.4133107122854285px 0px;
  }
  54% {
    text-shadow: 0.3314816206711222px 0.32942281101431914px 2px;
  }
  55% {
    text-shadow: -0.13031897935133585px -0.13643945020286075px 1px;
  }
  56% {
    text-shadow: 0.37688492214369007px -0.35685054443944664px 1px;
  }
  57% {
    text-shadow: -0.09545086686195559px 0.3177225581765478px 0px;
  }
  58% {
    text-shadow: -0.4087511543021449px -0.1063654380683362px 0px;
  }
  59% {
    text-shadow: -0.3330925732708613px -0.487371642387626px 0px;
  }
  60% {
    text-shadow: -0.0078974142730881px 0.2619153158064774px 3px;
  }
  61% {
    text-shadow: 0.4344449342053661px -0.04507318669996763px 2px;
  }
  62% {
    text-shadow: -0.38102545208149796px -0.12973008797077012px 3px;
  }
  63% {
    text-shadow: 0.3878671268145616px 0.4757807609571578px 2px;
  }
  64% {
    text-shadow: -0.23213260476042485px -0.37805093155354075px 3px;
  }
  65% {
    text-shadow: 0.38943919778936775px -0.43249830430861413px 3px;
  }
  66% {
    text-shadow: -0.12194664563340296px -0.35422007955070933px 1px;
  }
  67% {
    text-shadow: -0.4139817497753896px -0.11302765290644967px 2px;
  }
  68% {
    text-shadow: -0.45986024084279764px -0.3376618199336394px 1px;
  }
  69% {
    text-shadow: -0.07675651238222814px 0.26780625068612773px 1px;
  }
  70% {
    text-shadow: 0.3959597498529831px 0.3789233418798288px 0px;
  }
  71% {
    text-shadow: 0.2011590330425047px 0.07353958398770244px 3px;
  }
  72% {
    text-shadow: 0.07876120488309424px -0.14478265616947084px 1px;
  }
  73% {
    text-shadow: -0.15128000553645937px -0.2278213360704976px 2px;
  }
  74% {
    text-shadow: -0.15348329855002107px 0.35507039342125635px 3px;
  }
  75% {
    text-shadow: 0.30212452909153453px -0.10753470266956133px 1px;
  }
  76% {
    text-shadow: -0.4494143394080541px 0.20717981326306234px 1px;
  }
  77% {
    text-shadow: 0.2887297980934793px -0.2865470639994643px 1px;
  }
  78% {
    text-shadow: -0.02360403796129429px -0.28940209980267584px 1px;
  }
  79% {
    text-shadow: -0.35363421804067097px 0.04032159502296684px 1px;
  }
  80% {
    text-shadow: -0.022408181243631975px 0.17360013190599044px 3px;
  }
  81% {
    text-shadow: 0.08687623185213067px -0.37403666798549473px 2px;
  }
  82% {
    text-shadow: -0.1627038574404457px 0.18131640815082983px 1px;
  }
  83% {
    text-shadow: 0.24196927753584485px 0.11756072269928208px 0px;
  }
  84% {
    text-shadow: -0.32458356591079374px -0.2675473179814932px 1px;
  }
  85% {
    text-shadow: -0.3359732066921546px 0.14264085147539907px 1px;
  }
  86% {
    text-shadow: -0.18221990095725216px -0.42042798406880744px 1px;
  }
  87% {
    text-shadow: -0.34686396817203113px -0.4969304456109054px 1px;
  }
  88% {
    text-shadow: -0.23910172625568038px -0.43504294768975327px 3px;
  }
  89% {
    text-shadow: -0.43260514949954565px -0.3730721741641245px 2px;
  }
  90% {
    text-shadow: -0.12119136961817523px 0.29658307918455007px 3px;
  }
  91% {
    text-shadow: 0.08302073827004142px -0.2806922557551875px 2px;
  }
  92% {
    text-shadow: 0.31189282115263484px 0.12979846392436123px 3px;
  }
  93% {
    text-shadow: 0.12955388610912288px -0.48639732493244014px 0px;
  }
  94% {
    text-shadow: 0.12230591373587585px 0.4459360683388567px 1px;
  }
  95% {
    text-shadow: -0.2466785264771374px -0.2145653989870696px 3px;
  }
  96% {
    text-shadow: 0.029090264688386713px 0.13655533151972288px 0px;
  }
  97% {
    text-shadow: -0.09733042910620571px -0.01526988929732953px 2px;
  }
  98% {
    text-shadow: 0.027039003183287225px -0.08760397826674515px 2px;
  }
  99% {
    text-shadow: 0.23047237842839885px -0.04461902142940688px 2px;
  }
  100% {
    text-shadow: 0.49525268988396465px 0.349817959405359px 0px;
  }
}
